# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*/__pycache__/

# Common virtualenv names
env
venv
.venv

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
.pytest_cache/
coverage.xml
*.cover
.tox/
.coverage
.coverage.*
.cache

# other stuff
src/js/conf.json
ext/*
src/iotics
src/google
tmp
.vscode
tutorial-ev-chargers
.seed
.mnemonics
